@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 20px;
  font: 14px sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
}

#container {
  width: 1330px;
  margin: 0 auto;
}

.svg {
  border: 1px solid #ccc;
  float:left;
  background-color: #fff;
  position: relative;
}

#histogram-container {
  margin: 0 0 0 10px;
  padding: 10px 0 0 10px;
  height: 594px;
}

#routes {
  display:block;
}

#routes.hidden {
  display:none;
}

.route {
  stroke-width: 1px;
  stroke: rgba(220, 155, 80, 0.75);
}

.route.major {
  stroke: rgba(20,20,180, 0.75);
  stroke-width: 2px;
}

.route:hover {
  stroke: rgba(140, 75, 0, 1) !important; /* ew */
}

.route.major:hover {
  stroke: rgba(0,0,80, 1) !important; /* ew */
}

.region {
  fill: #ddd;
  stroke: #fff;
  transition: fill 0.2s ease;
}

.region:hover {
  fill: #ccc;
  cursor:pointer;
}

.region.active {
  fill: #ccc;
}

.bar rect {
  fill: rgba(220, 155, 80, 0.75);
  shape-rendering: crispEdges;
  transition: fill .2s ease;
}

.bar rect:hover {
  fill: rgba(220, 155, 80, 1);
  /*cursor: pointer;*/
}

#time-scale {
  text-align: center;
  display: block;
}

#controls-outer {
  float: left;
  width: 100%;
  text-align: center;
}

#controls-inner {
  width: 500px;
  margin: 10px auto;
}

#total {
  margin: 0px 0px 10px 0;
  text-align: center;
}

#filter-type {
  display: block;
  margin: 10px 0 -15px 0;
}

.bar text {
  fill: #000;
  font-size: 12px;
  pointer-events: none;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

label[for=show-severe-only] {
  background-color: rgba(0,0,180, 0.75);
  padding: 4px;
  color: #fff;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
label[for=show-severe-only]:hover {
  background-color: rgba(0,0,180, 1);
}

#select-category-values {
  min-width: 350px;
}

#tooltip {
  position: absolute;
  height: auto;
  padding: 5px;
  max-width: 200px;
  background-color: rgba(0,0,0,0.9);
  color: white;
  text-align: left;
  pointer-events: none;
  opacity:1;
  transition: opacity 0.3s ease;
}

#tooltip:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 5px 5px 0;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 1;
  left: -5px;
  top: 0;
}

#tooltip.hidden {
  opacity: 0;
}

#tooltip p {
  margin: 0;
  /*font-family: sans-serif;*/
  /*font-size: 12px;*/
  /*line-height: 20px;*/
}